<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} @ {{reportDay}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
    <link rel="stylesheet" href="./lib/main.css">
  </head>
  <body>
    <header>
      {{title}} @ {{reportDay}}
      <span>(total: {{totalPkgs}})</span>
    </header>
    <div id="content">
      <article>
        <div class="catHeader" style="background-color: #33a1d6;">Top Increase Number @ {{reportDay}}</div>
        {{#dayIncPkgs}}
        <div class="pkgCard">
          <h3 class="pkgTitle">
            <a href="https://www.npmjs.com/package/{{name}}">{{name}}</a>
            <span class="fa fa-{{status}}"> {{prettyDayInc}} ({{dayChange}})</span>
          </h3>
          <div class="pkgDesc">{{description}}</div>
          <div class="pkgInfo">
            <span>
              <a href="https://www.npmjs.com/~{{author}}"><i class="fa fa-user"> {{author}}</i></a>
            </span>
            {{#if homepage}}
            <span> 
              <a href="{{homepage}}"><i class="fa fa-link"> homepage</i></a>
            </span>
            {{/if}}
            <span><i class="fa fa-download"> {{prettyLastday}} ({{../reportDayS}})</i></span>
          </div>
          <div class="share"></div>
        </div>
        {{/dayIncPkgs}}
      </article>
      <article>
        <div class="catHeader" style="background-color: #2aad5e;">Top Increase Percentage @ {{reportDay}}</div>
        {{#dayChangePkgs}}
        <div class="pkgCard">
          <h3 class="pkgTitle">
            <a href="https://www.npmjs.com/package/{{name}}">{{name}}</a>
            <span class="fa fa-{{status}}"> {{dayChange}} ({{prettyDayInc}})</span>
          </h3>
          <div class="pkgDesc">{{description}}</div>
          <div class="pkgInfo">
            <span>
              <a href="https://www.npmjs.com/~{{author}}"><i class="fa fa-user"> {{author}}</i></a>
            </span>
            {{#if homepage}}
            <span> 
              <a href="{{homepage}}"><i class="fa fa-link"> homepage</i></a>
            </span>
            {{/if}}
            <span><i class="fa fa-download"> {{prettyLastday}} ({{../reportDayS}})</i></span>
          </div>
          <div class="share"></div>
        </div>
        {{/dayChangePkgs}}
      </article>
      <article>
        <div class="catHeader" style="background-color: #dc1282;">Top Downloads @ {{reportDay}}</div>
        {{#nowPkgs}}
        <div class="pkgCard">
          <h3 class="pkgTitle">
            <a href="https://www.npmjs.com/package/{{name}}">{{name}}</a>
            <span class="fa fa-{{status}}"> {{dayChange}} ({{prettyDayInc}})</span>
          </h3>
          <div class="pkgDesc">{{description}}</div>
          <div class="pkgInfo">
            <span>
              <a href="https://www.npmjs.com/~{{author}}"><i class="fa fa-user"> {{author}}</i></a>
            </span>
            {{#if homepage}}
            <span> 
              <a href="{{homepage}}"><i class="fa fa-link"> homepage</i></a>
            </span>
            {{/if}}
            <span><i class="fa fa-download"> {{prettyLastday}} ({{../reportDayS}})</i></span>
          </div>
          <div class="share"></div>
        </div>
        {{/nowPkgs}}
      </article>
    </div>
    <script src="./lib/main.js"></script>
  </body>
</html>
