<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="apple-touch-icon" sizes="57x57" href="./icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
    <link rel="stylesheet" href="./lib/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- requirejs needs to be loaded later than any other scripts, but before our main -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    </head>
    
    <body>
      <header></header>
      <div id="content"></div>
      <div class="navigation">
        <span class="fa fa-chevron-circle-left"></span>
        <span class="fa fa-chevron-circle-right"></span>
      </div>
      <div id="modals" class="hide">
        <span class="fa fa-close"></span>
        <div class="content-container"></div>
      </div>
      <script src="./lib/main.js"></script>
      <script>requirejs(["dist/lib/main"]);</script>
    </body>
    
    </html>